/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
  height: 100vh;
  background: black;
  font-family: sans-serif;
  /* overflow-y: hidden; を削除 - スクロールを許可するため */
  display: flex;
  margin: 0;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw; /* ウィンドウ幅いっぱいに表示 */
  overflow: hidden; /* Appコンテナ内でオーバーフローを制御 */
}

.Content {
  flex-grow: 1; /* コンテンツが残りの幅を占めるように */
  padding: 20px;
  margin-left: 0; /* サイドバーが非表示の場合の調整 */
  overflow-y: auto; /* 縦方向のスクロールを追加 */
  height: 100%; /* 高さを100%に設定して、スクロールエリアを確保 */
  box-sizing: border-box; /* パディングを含めた全体の高さを計算 */
}

.Sidebar + .Content {
  margin-left: 250px; /* サイドバーが表示されている場合の幅 */
}

.Sidebar.closed + .Content {
  margin-left: 50px; /* サイドバーが閉じた際の幅 */
}

@import url('../flowchart/styles/flow-theme.css');
