/* 詳細ページ全体のスタイル */
.DetailPage {
  padding: 20px;
}

/* 詳細ページのタイトルスタイル */
.DetailPage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* リスト全体のスタイル */
.List {
  margin-top: 20px;
}

/* リストヘッダーのスタイル */
.ListHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  background: #555;
  border-radius: 5px;
}

/* リストのスタイル */
.List ul {
  list-style-type: none;
  padding: 0;
}

/* リスト項目のスタイル */
.List li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background: #444;
  border-radius: 5px;
}

/* リスト項目の入力スタイル */
.List input {
  margin-right: 10px;
}

/* ボタンのスタイル */
button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.9;
}

/* ボタンのホバースタイル */
button:hover {
  transform: scale(1.05);
  opacity: 1;
}
