.ProjectDetail {
  padding: 20px;
}

.ProjectDetail h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.UnitsList {
  margin-top: 20px;
}

.UnitsList h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.UnitsList ul {
  list-style-type: none;
  padding: 0;
}

.UnitsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background: #444;
  border-radius: 5px;
}

.UnitsList input {
  margin-right: 10px;
}

.UnitsList button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.9;
}

.UnitsList button:hover {
  transform: scale(1.05);
  opacity: 1;
}
